<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frauds</title>
</head>

<body>
    <h1>
        <%title%>
    </h1>
    <%if(action=="add"){%>
        <form action="/frauds/add_person" method="post">
            <label>Customer Name</label> <select name="customer" id="customerFraud" style="width: 200px;">
                <option value="Select Customer" disabled selected></option>
                <% if(fraudList.length>0){
                    for(var i=0; i< fraudList.length; i++){ %>
                        <option value="<%=fraudList[i].id%>" name="<%fraudList[i].username%>"></option>
                        <% } } %>
            </select><br><br>
            <label>Reason</label> <input type="text" name="reason" /><br><br>
            <input type="submit" value="Add" style="width: 100px;">
            
        </form>
        <% }else{ %>
            <nav>
                <a href="/frauds/add" style="position: absolute; right: 10px;">Add to fraud list</a>
            </nav>
            <table>
                <thead>
                    <tr>
                        <th>Customer Name</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>

                    <% if(fraudList.length>0){
                        for(var i=0; i< fraudList.length; i++){ %>
                            <tr>
                                <td>
                                    fraudList[i].name
                                </td>
                                <td>
                                    fraudList[i].reason
                                </td>
                            </tr>
                            <%}%>
                                <%}else{%>
                                    <tr>
                                        <td colspan="2">No Data Found</td>
                                    </tr>
                                    <%}%>
                </tbody>
            </table>
            <%}%>
</body>

</html>