<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>

<body>
    <section className='bg-brand bg-brand-container'>
        <Navbar />
        <div className="container">
            <h1 className='fs-4 mt-5 text-center'>Sign Up</h1>

            <form onSubmit={handleSubmit(onSubmit)}>
                <div className="col-md-6 col-sm-8 mx-auto d-block">

                    <div className="form-group mt-2">
                        <label htmlFor='name' className='form-label p-1'>Name</label>
                        <input type='text' className="form-control p-2" name="name" />
                        {errors.name && <span className='text-danger'>This field is required</span>}
                    </div>
                    <div className="form-group mt-2">
                        <label htmlFor='dob' className='form-label p-1'>DOB</label>
                        <input type='date' className="form-control p-2" name="dob" />
                        {errors.name && <span className='text-danger'>This field is required</span>}
                    </div>
                    <div className="form-group mt-2">
                        <label htmlFor='gender' className='form-label p-1'>Gender</label>
                        <input type='text' className="form-control p-2" name="gender"/>
                        {errors.name && <span className='text-danger'>This field is required</span>}
                    </div>

                    

                    <div className="form-group mt-2">
                        <label htmlFor='email' className='p-1'>Email</label>
                        <input id='email' type='text' className="form-control p-2" name="email" />
                        {errors.email && <span className='text-danger'>This field is required</span>}
                    </div>

                    <div className="form-group mt-2">
                        <label htmlFor='password' className='p-1'>Password</label>
                        <input id='password' type='password' className="form-control p-2" name="password" />
                        {errors.password && <span className='text-danger'>This field is required</span>}
                    </div>

                    <p><small className="form-text text-muted">We'll never share your information with anyone
                            else.</small></p>

                    <p className='text-danger fw-bold mt-3 text-center'>{registerError}</p>

                    <input type="submit" className="btn btn-dark p-2" value="Register" />

                    <div className="mt-3">
                        <Link to='/login' className='text-black text-decoration-none'>Already have an Account? <span
                            className='text-primary text-decoration-underline'>Sign In</span></Link>
                    </div>
                </div>

            </form>

        </div>
    </section>
</body>

</html>